.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-style{
    width: 85%;
    height: 90%;
    background: transparent; 
    box-shadow: none; 
    border: none;
}
.contenedor-interno {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-full-width{
    width: 100%;
}
