<div class="main-div">
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title class="mat">
        <h2 style="text-align: center">Productos</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-tab-group (selectedIndexChange)="cargarTabs($event)">
      <mat-tab label="Listar productos">
        <ng-template #listarProducto></ng-template>
      </mat-tab>
      <mat-tab label="Crear Productos">
        <ng-template #crearProducto></ng-template>
      </mat-tab>
      <mat-tab label="Editar Productos">
        <ng-template #editarProducto></ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
